body {
    background-color: #0f111a;
    /* Tom escuro profundo */
    color: #ffffff;
}

.admin-card {
    border: none;
    border-radius: 15px;
    background: #fff;
    transition: transform 0.2s;
}

.admin-card:hover {
    transform: translateY(-5px);
}

.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}