<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gioShop | Adicionar mmotor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/motor.css')}}">

</head>

<body class="bg-black bg-opacity-10 p-3 rounded ">

    <div class="container min-vh-100 d-flex align-items-center py-5">
        <div class="row w-100 gy-5 align-items-center">

            <div class="col-12 col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold text-dark mb-3">
                    Solicitar <span class="text-primary">saque</span>.
                </h1>
                <p class="lead text-muted mb-4 mx-auto mx-lg-0" style="max-width: 500px;">
                    Solicitando um saque, você pode transformar seus ganhos em dinheiro real e aproveitar os frutos do
                    seu trabalho árduo. Não perca tempo, faça seu pedido de saque agora mesmo e desfrute dos benefícios
                    que conquistou!
                </p>
            </div>

            <div class="col-12 col-md-8 col-lg-5 mx-auto">
                <div class="card shadow-lg p-3 border-0">
                    <div class="card-body">
                        <h4 class="fw-bold mb-4 text-center">Solicitar Saque</h4>
                        <form action="" method="post">
                            {{ form.csrf_token() }}

                            <div class="row g-2 mb-3 ">
                                <div class="col-6">
                                    {{form.montante.label(class="form-label")}}
                                    {{ form.montante(class="form-control", placeholder="Exp: 1000.00", type="number")
                                    }}
                                </div>
                                <div class="col-12">
                                    {{form.detalhes.label(class="form-label")}}
                                    {{ form.detalhes(class="form-control", placeholder="Exp: BFA, NUM-CONTA") }}
                                </div>
                            </div>
                            <div class="d-grid">
                                {{ form.btn(class="btn btn-outline-primary btn-lg btn-gradient shadow rounded-pill
                                fw-bold
                                py-3") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>